.header{
    background-color: #1C2B35;
    align-items: center;

}
.header img{
    width: 140px;
    height: 40px;
}
.manuBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 80%;
    margin: auto;
}

.manu-items{
    display: flex;
    flex-wrap: wrap;
}
.manu-items li{
    margin-left: 15px;
    list-style: none;
}
.manu-items a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.manu-items a:hover{
    color: orange;
    text-decoration: none;
}